
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-flag-filled:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-dot-3:before { content: '\e806'; } /* '' */
.icon-thumbs-up:before { content: '\e807'; } /* '' */
.icon-comment:before { content: '\e808'; } /* '' */
.icon-share:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-iconmonstr-facebook-messenger-1:before { content: '\e80c'; } /* '' */
.icon-search-1:before { content: '\e80d'; } /* '' */
.icon-3783706211556281661:before { content: '\e80e'; } /* '' */
.icon-add-user-svgrepo-com:before { content: '\e80f'; } /* '' */
.icon-question-mark-round-button-svgrepo-com:before { content: '\e810'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-newspaper-1:before { content: '\f4f0'; } /* '' */